h1 {
    color: rgb(0, 255, 34);
    margin-left: 30px;
}


*{
    border:hidden;
    }

.header{
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
   }

 .site-description{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
   

   .grid {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
    
   }

   .p {
    text-align: center;
   }

   .origami {
       
       background-color: rgb(60, 185, 77);
       text-decoration: brown;
       width: 310px;
       font-family:fantasy;
   }

   .menu {
       display: flex;
       justify-content: space-between;
       background-color: rgb(248, 238, 238);
       font-size: 20px;
       font-family: sans-serif;
       font-weight: 400;
       color: aliceblue;
   }

   .footer {
    display: flex;
    justify-content: flex-end;
}

a:link{
    color: white;
}

a:visited{
    color: aliceblue;
}

.origami:hover{
    transform: scale(1.2);
}
   
    
   body {
       background-color: rgb(252, 253, 253);
   }